<div class="contenedor-evento">

        <div class="group-flex-column contenedor-fecha">
                
                    
            <label for="datepicker" class="grupo group-flex-column group-flex-center datapicker-evento"> 

                <div class="evento-dia" > <p class="e-dia input_editable" contenteditable="true">{{dia}}</p></div>
                <div class="evento-mes" > <p class="e-mes input_editable" contenteditable="true">{{mes}}</p></div>
            </label>

        </div>

        <div class="group-flex-column contenedor-imagen">
            <div class="filtro"></div>
        
            <img id="imagen_principal_preview" src="{{@.url_frontend}}{{imagen_principal}}" alt="">

            

        </div>

        <div class="contenedor-informacion">
            <div class="group-flex-column margin-b-10 informacion-titulo">
                <a href="{{@.url_frontend}}evento/{{slug}}" class="input-evento-titulo">{{titulo}}</a>
                <!-- <input type="text" id="input_titulo" class="input-evento-titulo" name="titulo" value="{{titulo}}{{^titulo}}Edicion #{{@.getLastId}}{{/titulo}}"> -->
            </div>
            <div class="group-flex-row contenedor-artistas">
                <span class="listado-artistas">{{descripcion}}</span>
                <!-- <textarea name="artistas" id="" class="listado-artistas"></textarea> -->
            </div>
        </div>
    </div>
    <div class="group-flex-column contenedor-evento-estado">

        <div class="listado-estados group-flex-column">      

                <div class="item-estado {{estado}}" data-estado="{{estado}}">{{estado}} <span class="item-glow {{estado}}"></span></div>

        </div>

    </div>