<div class="contenedor-login">


    <form id="formulario-login" action="/ajax/login.php">
    
        <input type="hidden" name="f" value="login">
        <div class="form-header">
            <figure class="form-imagen"><img src="{{@.url_frontend}}app/assets/images/logo-icono.svg" alt=""></figure>
        </div>
        <div class="form-input">

           <label class="home-text-input" for="">
               Email
               <input type="email" name="email" required placeholder="Ingresa un email">

           </label>

           <label class="home-text-input" for="">
               Contraseña
               <input type="password" name="password" id="password" placeholder="Ingresa tu contraseña">
               <input type="text" id="input-show-pass" class="input-show-pass" value="123123123" >
               <img class="img-show" id="show-pass" src="{{@.url_frontend}}app/assets/images/icon-eye.png" alt="">
           </label>
           <div class="home-text-input register">
               Repetir Contraseña
               <input type="password" name="password-rec" id="password-rep" placeholder="Ingresa tu contraseña">
               <input type="text" id="input-show-pass-rep" class="input-show-pass" value="123123123" >
               <img class="img-show" id="show-pass-rep" src="{{@.url_frontend}}app/assets/images/icon-eye.png" alt="">
           </div>
           <div class="boton-submit">
               <input type="submit" id="form-login-submit" value="Entrar">
           </div>

        </div>  
        
        
        <div class="contenedor-login-redes group-flex-column group-flex-center">

            <div class="login-redes-texto"><span>O conectate con</span></div>
            <div class="lista-redes group-flex-row group-flex-sb-center">
                <div class="item-redes fb">
                        <i class="fab fa-facebook-f"></i>
                </div>
                <div class="item-redes gg">
                        <i class="fab fa-google"></i>
                </div>
            </div>

        </div>

        <div class="contenedor-sin-cuenta group-flex-column group-flex-center">
            <span id="open-registrar">¿No tienes una cuenta?</span>
            <span id="close-registrar" class="close-registrar">Volver</span>
        </div>
    
    </form>


</div>