<div class="splash-container animated">
        <div class="imagen">
            <img id="imagen-bg" src="{{@.url_frontend}}app/assets/images/background-default.png" alt="">
        </div>
    
        <div class="effecto">
            <a href="#">  </a>
        </div>
    
    </div>