{{% BLOCKS }}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto|Open+Sans:400,600,700" rel="stylesheet">
  
    <link rel="stylesheet" href="{{@.url_frontend}}app/assets/css/fontaw.css">
    <link rel="stylesheet" href="{{@.url_frontend}}app/assets/css/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{{@.url_frontend}}app/assets/css/estilos.css">
    <link rel="stylesheet" href="{{@.url_frontend}}app/assets/css/root.css">
    <link rel="stylesheet" href="{{@.url_frontend}}app/assets/css/index.css">

    <title>{{$title}}{{/title}}</title>
    {{$ css_links}}
    {{/ css_links}}



</head>
<body>


<div class="container-{{@.get_p}}">

    {{$ body }}
    {{/ body }}
</div>
    

  <script src="{{@.url_frontend}}app/assets/js/jquery314.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{@.url_frontend}}app/assets/js/index.js"></script>

</body>
</html>