{{% BLOCKS }}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto|Open+Sans:400,600,700" rel="stylesheet">
    
    <link rel="stylesheet" href="{{@.url_frontend}}app/assets/css/fontaw.css">
    <link rel="stylesheet" href="{{@.url_frontend}}app/assets/css/animate.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    <link rel="stylesheet" href="{{@.url_frontend}}app/assets/css/estilos.css">
    <link rel="stylesheet" href="{{@.url_frontend}}app/assets/css/root.css">
    <link rel="stylesheet" href="{{@.url_frontend}}app/assets/css/home_logeado.css">
    <link rel="stylesheet" href="{{@.url_frontend}}back/assets/css/technoclub.css">


    
    <title>{{$title}}{{/title}}</title>
    {{$ css_links}}
    {{/ css_links}}



</head>
<body>

    <header class="header">
            <figure class="icono-hamb sidenav-trigger" data-target="slide-out"><img src="{{@.url_frontend}}app/assets/images/icono-menu.png" alt=""></figure>
            <figure class="icono-notify"><img src="{{@.url_frontend}}app/assets/images/notifications-button.svg" alt=""> <span class="group-flex-column group-flex-center contador-notify">2</span></figure>
            <!-- <i class="fas fa-bars header-icono sidenav-trigger" data-target="slide-out"></i> -->
        
    </header>


<ul id="slide-out" class="sidenav">
    <li style="background-color:black;color:white;"> <a href="#" style="color:white;"> TechnoParty</a></li>
    <!-- <li>
            <div class="user-view">
                <div class="background">
                    <img src="{{@.url_frontend}}back/assets/images/default-background.jpg">
                </div>
            </div>
    </li>  -->
    {{$ app_menu_items}}
    {{/ app_menu_items}}

    <li><a href="{{@.url_frontend}}eventos"> Mis Eventos</a></li>
    <li><a href="{{@.url_frontend}}entradas"> Mis Entradas</a></li>
    <li><a href="{{@.url_frontend}}back/configuracion"> Configuraciones</a></li>
    <li><div class="divider"></div></li>
    <li><a href="/logout"> Cerrar Sesion</a></li>

</ul>


<main class="container-{{@.get_p}}">

    {{$ body }}
    {{/ body }}
</main>
    
  <!-- <script src="https://kit.fontawesome.com/86c677665b.js"></script> -->
  <script src="{{@.url_frontend}}app/assets/js/jquery314.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="{{@.url_frontend}}app/assets/js/index.js"></script>

</body>
</html>