.contenedor-formulario-sitio {
    width: 100%;
    /* max-width: 550px; */
    margin: 0 auto;
}
.contenedor-formulario-sitio form{
  background-color :white;
  padding:10px;
}
.sitio_tabs_opciones{
    
}
h3{
    font-size: var(--fuente-size-medio);
    margin-bottom: 0;
}
.switch{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    padding: 15px 0;
    margin-bottom: 20px;
  }
  .btn-principal{
      background-color: var(--color-primario);
      border-radius: 5px;
  }
  .contenido_blog,
  .contenido_tienda{

    border-bottom-width: 1px;      
    border-bottom-color: black;

  }
  .custom-input-color{
    width: 40px !important;
    height: 40px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-primario);
    transition: all .25s ease;
  }
  #color-primario{
    background-color : var(--color-primario);
  }
  #color-secundario{background-color : var(--color-secundario);}
  #color-terciario{background-color : var(--color-terciario);}
  input[type="color"] {
      
    display:none;

  }
  .label-color{
      width: 150px;
  }