*,h2{
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
html{
    background-color:black;
    scroll-behavior: smooth;
}
.container-escaner{
  height: 550px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
  position: relative;
}
input[type="file"],.datepicker {
    display:none;
}
.container-entrada{
    
/* padding: 0; */
    
margin-bottom: 100px;
}
.filtro {
    
position: absolute;
    
width: 100%;
    
height: 100%;
    
background-color: rgb(0, 0, 0,0.2);
}
.collection .collection-item.avatar .title{
  
color: black;
}
.collection .collection-item{
  
display: flex;
  
flex-flow: column;
}

.input-evento-titulo{
    
color: white;
    
border: none !important;
    
font-size: 20px !important;
    
z-index: 12;
}
.input-evento-titulo,.contenedor-artistas .listado-artistas {
    transition: all .25s ease !important;
}
.input-evento-titulo:focus,.contenedor-artistas .listado-artistas:focus {
    
box-shadow: none !important;
    
background-color: #000000ad !important;
    
padding: 5px 10px !important;
    
border-radius: 5px !important;
}
.input-evento-titulo:focus .contenedor-informacion{
    
background-color: black !important;
}



.container-evento{
    background-color: black;
    color: white;
    box-shadow: none;
    padding-top: 40px;
}
.contenedor-formulario{justify-content: center;align-items: flex-start;position: relative;margin: 0 auto;max-width: 550px;}
.contenedor-evento{
    width: 100%;
    position: relative;
    margin-bottom: 40px;
    min-height: 350px;
}
.contenedor-boton{
  
width: 100%;
}
.contenedor-boton input{

width: 100%;

margin-top: 30px;

color: white;

background-color: var(--color-secundario);

padding: 15px;

text-align: center;

border-radius: 3px;

border: none;

height: 100%;
}
.boton-input{
    
background-color: var(--color-secundario);
    
text-align: center;
    
color: white;
    
/* padding: 15px; */
    
border-radius: 3px;
}
.boton-input.sending{
    background-color:#a0a0a0;
    pointer-events:none;
}
.boton-input:active{
    background-color:saddlebrown;
}

.contenedor-imagen {

/* max-height: 350px; */

/* position: relative; */

/* overflow: hidden; */

/* min-height: 200px; */

height: 94%;

z-index: 1;
}
.contenedor-evento .contendor-imagen-upload {
    top: unset;
    bottom: 70px;
}
.contenedor-entrada .contenedor-imagen{/* overflow: unset; *//* max-height: unset; */max-height: 400px;}


.contenedor-imagen img {
    
width: 100%;
    
height: auto;
}
.contenedor-entrada .contendor-imagen-upload {
    
top: 32px;
    
right: 16px;
    
z-index: 213;
    
background-color: var(--color-secundario);
}
.contendor-imagen-upload {

background-color: var(--color-primario);

border-radius: 50%;

width: 65px;

height: 65px;

position: absolute;

top: 32px;

right: 8px;

z-index: 2;
}
.contendor-imagen-upload .upload_icon {
    
width: 25px;
}





.formulario-titulo{
    
font-size: 24px;
    
color: white;
}
.linea-border-2 {
    height: 2px;
    width: 30%;
    background-color: white;
    margin-top: 10px;
}
.contenedor-informacion{
    
position: absolute;
    
bottom: 10px;
    
/* background-color: black; */
    
padding: 5px 10px;
    
width: 70%;
}
.contenedor-evento-titulo{

}
.contenedor-fecha {
    
position: absolute;
    
right: 20px;
    
top: -20px;
    
z-index: 3;
}
.datapicker-evento{
    
color: black;
    
font-size: 14px;
}
.contenedor-fecha .grupo {
    
background-color: white;
    
width: fit-content;
    
color: black;
    
padding: 11px;
    
border-radius: 5px;
}
.evento-titulo {
    
font-size: 18px;
}
.contenedor-artistas{
    
z-index: 121;
}
.contenedor-artistas ul,.contenedor-artistas ul > li{
    margin: 0;
    padding: 0;
}

.contenedor-artistas .listado-artistas{

width: 100%;

flex-flow: row wrap;

color: white;

font-size: 16px;

border: none;

z-index: 1;

height: auto;
}
.contenedor-artistas .item-artista{

border: none;

box-shadow: none;

padding: 0 3px;
}
.contenedor-evento-estado,.contenedor-entrada-estado{
    
justify-content: center;
    
align-items: center;
    
bottom: 65px;
    
right: 0;
    
position: absolute;
    
background-color: #151313;
    
z-index: 2;
}
.contenedor-entrada-estado .listado-estados .contenedor-estados .item-glow{
  
display: none !important;
}
.item-estado:hover{
    cursor:pointer;
    background-color:black;
}
.contenedor-entrada-estado .listado-estados .contenedor-estados:first-child{

}
.contenedor-entrada-estado .listado-estados .contenedor-estados{
    
position: absolute;
    
right: 0;
    
/* bottom: -3px; */
    
top: 0;
    
z-index: 124;
    
padding: 7px;
    
width: 100%;
    
display: grid;
    
grid-template-columns: repeat(auto-fit,96px);
    
grid-template-rows: 1fr 1fr 1fr;
    
grid-column-gap: 10px;
    
grid-row-gap: 10px;
    
justify-content: flex-end;
    
align-items: flex-end;
    
transition: all .25s ease;
    
height: 0;
}
.contenedor-entrada-estado .listado-estados {
    
width: 100%;
    
justify-content: flex-start;
}
.listado-estados{

align-content: flex-end;

justify-items: flex-end;

z-index: 3;
}
.item-estado.activo{display: block;margin-top: 15px;background-color: black;margin: 0;padding: 10px 25px;/* color: white; */padding-right: 0;}
.item-estado{

box-shadow: none;

margin: 0;

margin-top: 30px;

transition: all .25s ease;

min-width: 70px;

padding: 10px;

padding-bottom: 0;

width: 100%;

display: none;

color: white;
}
.item-glow{
    
display: block;
    
border-bottom: 2px solid grey;
    
margin: 0;
    
padding: 0;
    
width: 100%;
    
margin-top: 5px;
    
/* display: none; */
}

.item-glow.pendiente {
    border-bottom-color:grey;
}
.item-glow.cancelado {
    border-bottom-color:red;
}
.item-glow.ahora {
    border-bottom-color:var(--color-secundario);
}
.item-glow.borrador {
    border-bottom-color:yellow;
}
.item-glow.publicado {
    border-bottom-color:green;
}
.estado.pendiente {
   color: #d8c324;
}
.estado.cancelado {
   color:red;
}
.estado.ahora {
   color:var(--color-secundario);
}
.estado.borrador {
   color: #a2a2a2;
}
.estado.publicado {
   color: #2bbb1b;
}


.botones-acciones-listado{
    
position: absolute;
    
right: 15px;
}
.botones-acciones-listado a {
    
color: var(--color-terciario);
}
.contenedor-estados.activo{
    background-color: #07acce73;
    display: grid !important;
    justify-content: center !important;
    height: unset !important;
}
.collection {
    border:none;
}
.collection-item.item-lista-post{
    color:black;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.collection-item .estado {
    
width: 100%;
    
font-weight: bold;
}

/* entrada */
.contenedor-qr{
background-color: white;
/* padding: 25px; */
height: 79.4px;
z-index: 1;
width: 100%;
position: absolute;
bottom: 0;
/* opacity: .4; */
}

.contenedor-entrada-estado .item-estado.activo{display: flex !important;height: auto;padding: 7px;width: 130px;margin-left: -25px !important;margin-top: -13px;}
.contenedor-entrada-estado .item-estado {
    
background-color: var(--color-primario);
    
padding: 0;
    
margin: 0 !important;
    
width: 125px;
    
padding: 8px;
    
width: 96px;
    
height: 96px;
    
text-align: center;
}

.contenedor-entrada-estado .item-estado:first-of-type{
  margin-top:0 !important;
}
.contenedor-qr img{
    
width: 62px;
}
.contenedor-entrada {
    
width: 100%;
    
height: 405px;
    
position: relative;
    
display: flex;
    
flex-flow: column;
    
justify-content: flex-start;
    
overflow: hidden;
}
.contenedor-estados{
    
margin-left: auto;
}
.contenedor-label-estado{
    
justify-content: space-around;
    
align-items: center;
}
.contenedor-entrada-estado{
    
width: 100%;
    
position: relative;
    
bottom: 0;
    
padding: 15px 0;
    
padding-left: 10px;
    
margin-top: 25px;
}
/* flip container */

.flipper {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
  }
  
  .flipper.is-flipped {
    transform: rotateY(180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: black;
  }
  
  .card__face--back {
    background: black;
    transform: rotateY(180deg);
    z-index: 121212;
  }
  .grupo-inputs{

/* display: none; */

width: 100%;

/* height: 0; */

margin-top: 35px;

border-top: 6px dotted var(--color-secundario);
}
.grupo-inputs.activo{
  display:flex;
  height: auto;
}
.contenedor-nombre{
    
width: 100%;
    
margin-top: 15px;
}
  .item-input{
      
background-color: #151313;
      
width: 100%;
      
justify-content: space-between;
      
align-items: center;
      
box-shadow: none;
      
padding: 15px 0;
  }
   .item-input:last-child{
     margin-bottom: 10px;
   }
  input.input_text:valid{
      background-color: var(--color-primario);
      border:none !important;
      padding:15px !important;
      margin-top:10px !important;
      width: 90% !important;
      margin: 0 auto !important;
  }
  .input_text:focus{
    box-shadow:none !important;
  }
  .input_text{
      
/* background-color: var(--color-primario) !important; */
      
border: none !important;
      
border-bottom: 1px solid white !important;
      
margin: 0 !important;
      
padding: 0 !important;
      
height: auto !important;
      
padding: 8px !important;
      
width: 90% !important;
      
color: white;
      
margin: 0 auto !important;
      
font-family: var(--fuente-family-principal);
  }
  select.selector-evento.activo{
    background-color: var(--color-primario);
  }
  select.selector-evento{

width: 90%;

color: white;

/* height: 30px; */

display: flex;

background-color: grey;

border: none;

padding: 10px;
}
select.selector-evento option[selected] {
    background-color:var(--color-secundario);
}
  .item-entrada-evento {
      
color: white;
  }
  .contenedor-call-to-action{
      
position: absolute;
      
bottom: -75px;
      
width: 100%;
      
z-index: 12;
      
transition: all .25s ease;
  }
  .contenedor-call-to-action.activo{
      
/* bottom: -115px; */
  }
  .boton-next{

padding: 15px;

width: 50px;

height: 50px;

border-radius: 50%;

background-color: #d7415461;
}
  .boton-next i{
    
color: var(--color-secundario);
    
margin-top: 0;
    
font-size: 24px;
  }
  .contenedor-escaner{
overflow: hidden;
justify-content: flex-start;
align-items: flex-start;
height: 100%;
position: relative;
width: 100%;
}
  .escaner-resultado.valido{
    background-color : #26a69a;
  }
  .escaner-box{
width: 100%;
height: 100%;
max-height: 350px;
max-width: 350px;
}
  .escaner-box video {
    width: 100%;
    height: auto;
  }
  .escaner-resultado{
    background-color: var(--color-secundario);
    width: 100%;
    border-radius: 5px;
    height: 150px;
    position: absolute;
    bottom: 0;
    display: block;
  }