{{% BLOCKS }}

{{< layouts/default_layout}}


    <title>{{@.getClassName}}</title>
    {{$ body}}

        {{# @.init}}

        <title>pagina De template test</title>
        

        {{/ @.init}}


        {{> partials/float-action-button}}

    {{/ body}}

{{/ layouts/default_layout}}