{{% BLOCKS }}
  {{< layouts/default_layout}}

  

    {{$ body}}
      <ul id="tabs-swipe-demo" class="tabs sitio_tabs_opciones ">
              <li class="tab col s3"><a href="#sitio" class="active">Sitio</a></li>
              <li class="tab col s3"><a href="#diseno">Diseño</a></li>
              <li class="tab col s3"><a href="#perfil">Perfil</a></li>       
              <li class="tab col s3"><a href="#integraciones">Integraciones</a></li>
      </ul>
    <div class="contenedor-formulario-sitio ">

      <form id="form-setting-sitio">

        {{# @.init}}
        
        
          <div id="sitio" class="col s12 ">
            {{> configuraciones/sitio}}

          </div>

          <div id="diseno" class="col s12 ">
              {{> configuraciones/diseno}}
          </div>

          <div id="perfil" class="col s12 ">
              {{> configuraciones/perfil}}
          </div>

          <div id="integraciones" class="col s12 ">
              {{> configuraciones/integraciones}}
          </div>
          
          <div class="group-flex-column">
            <input type="submit" value="Actualizar" class="btn btn-principal">
          </div>
          {{/ @.init}}
      </form>

    </div>

      

    {{/ body}}

  {{/ layouts/default_layout}}