{{% BLOCKS }}

{{< layouts/default_layout}}


    <title>{{@.getClassName}}</title>
    {{$ body}}

        <ul class="collection">
            {{# @.init }}
                {{# @.getEntradas}}

                    <li class="collection-item avatar item-lista-post margin-b-10">
                        <img src="{{@.url_frontend}}{{imagen_principal}}" alt="" class="circle">
                        <span class="title">{{nombre}}</span>
                        <span class="estado {{estado_actual}}">{{estado_actual}} </span>
                        <div class="group-flex-column group-flex-center botones-acciones-listado">

                            <a href="#!" class="action-button" data-id="{{id}}" data-post="entrada" ><i class="material-icons">close</i></a>
                            <a href="/back/entrada/{{id}}/editar" ><i class="material-icons">create</i></a>

                        </div>
                    </li>

                {{/ @.getEntradas}}
            {{/ @.init }}
        </ul>


        {{> partials/float-action-button}}

    {{/ body}}

{{/ layouts/default_layout}}