{{% BLOCKS }}

{{< layouts/default_layout}}

    {{$ body}}
   


        {{< layouts/default_abm}}

        {{$ abm_titulo}}
            Nueva Entrada
        {{/ abm_titulo}}

        {{$abm_body }}
                {{# @.init}}
                 
                            <label for="imagen_principal" class="group-flex-column group-flex-center contendor-imagen-upload">
                                <input type="file" id="imagen_principal" name="imagen_principal">
                                <div class="">
                                    <img src="{{@.url_frontend}}back/images/upload_icon.png" class="upload_icon" alt="Upload Imagen">
                                </div>
                            </label>
                            <div class="contenedor-entrada">

                                
                                <!-- contendor imagen -->
                                <div class="group-flex-column contenedor-imagen ">
                                    <div class="filtro"></div>


                                    <div class="flipper">

                                            <div class="card__face card__face--front">
                                                <!-- front content -->
                                                <img id="imagen_principal_preview" src="{{@.url_frontend}}{{imagen_principal}}{{^imagen_principal}}back/images/teec2.gif{{/imagen_principal}}" alt="">
                                            </div>
                                            <div class="card__face card__face--back">
                                                <!-- back content -->
                                                <img id="imagen_principal_preview" src="{{@.url_frontend}}back/images/background-default.png" alt="">

                                            </div>

                                        </div>
                                
                                    

                                    

                                </div>

                                <!-- contenedor qr -->
                                <div class="group-flex-column group-flex-center contenedor-qr">
                                    <img src="/back/images/qrdefault.png" alt="">
                                </div>

                                <!--contenedor boton next call to action  -->
                                <!-- <div class="contenedor-call-to-action group-flex-center group-flex-column">
                                    <div class="group-flex-column group-flex-center boton-next"><i class="fas fa-chevron-down"></i></div>
                                </div> -->

                                
                            </div>  <!-- fin contenedor entrada -->
                           
                            

                            <div class="group-flex-column grupo-inputs">

                                

                                <div class="group-flex-column contenedor-entrada-estado margin-b-20">

                                        <div class="listado-estados group-flex-row">      
    
                                                <div class="group-flex-row contenedor-label-estado">
                                                    <span class="font-white">La entrada esta</span>
                                                </div>   
    
                                                <div class="group-flex-column contenedor-estados">
    
                                                    <input type="hidden" name="estado" id="input_estado" value="{{@.getEstadoActual}}">
                                                    {{{@.getEstados}}}
                                                </div>                                       
        
                                        </div>
        
                                </div>



                                <div class="item-input">

                                        <div class="group-flex-row contenedor-label-nombre">
                                                <span class="font-white">Nombre de la entrada</span>
                                        </div>   

                                        <div class="group-flex-column contenedor-nombre">

                                            <input type="text" name="nombre" class="input_text" value="{{nombre}}" placeholder="La Crem de la Crem" id="entrada_nombre" required >
                                            
                                        </div> 

                                </div>


                                <div class="item-input">
                                        

                                    <div class="group-flex-row contenedor-label-nombre margin-b-20">
                                            <span class="font-white">A que evento pertenece?</span>
                                    </div>
                                    <input type="hidden" id="id_entrada_evento" value="{{id_evento}}">
                                    {{{@.getEventosNuevos}}}
                                         
                                </div>


                            </div>





                           

                    
                {{/ @.init}} 
            {{/abm_body }}

            
        {{/ layouts/default_abm}}
        
    {{/ body}}
    
{{/ layouts/default_layout}}