{{% BLOCKS }}

{{< layouts/default_layout}}


    <title>{{@.getClassName}}</title>
    {{$ body}}

    <div class="contenedor-escaner group-flex-column group-flex-center">
            <div class="escaner-box">
            
                <video id="preview"></video>
            </div>
            <div class="escaner-resultado">

                </div>
    </div>
    
    {{/ body}}
    {{$ scripts}}

        <script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
        <script type="text/javascript">



            let scanner = new Instascan.Scanner({ video: document.getElementById('preview'),mirror : false } );


            scanner.addListener('scan', function (content) {
                if (content == 'si'){
                    $('.escaner-resultado').addClass('valido');
                    setTimeout(function(){
                        $('.escaner-resultado').removeClass('valido');

                    },3000);

                }
            //   alert(content);
            });


            Instascan.Camera.getCameras().then(function (cameras) {



                if (cameras.length > 0) {
                    var selectedCam = cameras[0];
                    $.each(cameras, (i, c) => {
                        if (c.name.indexOf('back') != -1) {
                            selectedCam = c;
                            return false;
                        }
                    });

                    scanner.start(selectedCam);
                } else {
                    console.error('No cameras found.');
                }

            });

          </script>
    {{/ scripts}}

{{/ layouts/default_layout}}