{{% BLOCKS }}

{{< layouts/default_layout}}


    {{$ body}}

        <ul class="collection">
            {{# @.init }}
                {{# @.getEventos}}

                    <li class="collection-item avatar item-evento margin-b-10">
                        <img src="{{@.url_frontend}}{{imagen_principal}}" alt="" class="circle">
                        <span class="title">{{titulo}}</span>
                        <span class="estado {{estado_actual}}">{{estado_actual}} </span>
                        <div class="group-flex-column group-flex-center botones-acciones-listado">

                            <a href="#!" class="action-button" data-id="{{id}}" data-post="evento" ><i class="material-icons">close</i></a>
                            <a href="/back/evento/{{id}}/editar" ><i class="material-icons">create</i></a>

                        </div>
                    </li>

                {{/ @.getEventos}}
            {{/ @.init }}
        </ul>
        


        {{> partials/float-action-button}}

    {{/ body}}

{{/ layouts/default_layout}}