{{% BLOCKS }}

{{< layouts/default_layout}}

    {{$ body}}
   <form action="" id="fomulario-evento">
        {{< layouts/default_abm}}

        
            {{$ abm_titulo}}
                Nuevo evento
            {{/ abm_titulo}}

            {{$abm_body }}
                {{# @.init}}
                 
                    
                            <div class="contenedor-evento">

                                <div class="group-flex-column contenedor-fecha">
                                        
                                            
                                    <label for="datepicker" class="grupo group-flex-column group-flex-center datapicker-evento">                                    
                                        <input id="datepicker" class="datepicker" name="evento_fecha"></input>                                    
                                        <div class="evento-dia" > <p class="e-dia input_editable" contenteditable="true">{{@.getDiaEvento}}</p></div>
                                        <div class="evento-mes" > <p class="e-mes input_editable" contenteditable="true">{{@.getMesEvento}}</p></div>
                                    </label>

                                </div>

                                <div class="group-flex-column contenedor-imagen">
                                    <div class="filtro"></div>
                                
                                    <img id="imagen_principal_preview" src="{{@.url_frontend}}{{imagen_principal}}{{^imagen_principal}}back/images/background-default.png{{/imagen_principal}}" alt="">

                                    <label for="imagen_principal" class="group-flex-column group-flex-center contendor-imagen-upload">
                                            <input type="file" id="imagen_principal" name="imagen_principal">
                                            <div class="">
                                                <img src="{{@.url_frontend}}back/images/upload_icon.png" class="upload_icon" alt="Upload Imagen">
                                            </div>
                                    </label>

                                </div>

                                <div class="contenedor-informacion">
                                    <div class="group-flex-column margin-b-10 informacion-titulo">
                                        <input type="text" id="input_titulo" class="input-evento-titulo" name="titulo" value="{{titulo}}{{^titulo}}Edicion #{{@.getLastId}}{{/titulo}}">
                                    </div>
                                    <div class="group-flex-row contenedor-artistas">
                                        <textarea name="artistas" id="" class="listado-artistas">{{artistas}}{{^artistas}}Una breve descripcion o anuncio de los dj{{/artistas}}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="group-flex-column contenedor-evento-estado">

                                <div class="listado-estados group-flex-column">      

                                    <input type="hidden" name="estado" id="input_estado" value="{{@.getEstadoActual}}">
                                    {{{@.getEstados}}}

                                </div>

                            </div>

                    
                {{/ @.init}} 
            {{/abm_body }}
        
        {{/ layouts/default_abm}}
    </form>
    {{/ body}}
{{/ layouts/default_layout}}