{{% BLOCKS }}
{{< layouts/default_layout}}

  <title>{{@.getClassName}}</title>
  
  {{$ body}}

    <h1 class="titulo  " >Página principal</h1>
    <main class="listado-{{@.getClassName}}">

        <div class="swiper-container">
            <div class="swiper-wrapper">               
            

            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
      </div>
        
    </main>

  {{> partials/float-action-button}}

  {{/ body}}
  
{{/ layouts/default_layout}}

