


<div class="group-flex-column ">

    <h3 class="margin-b-20 font-bold">Colores</h3>
    
    <div class="grou-flex-column listado-colores">
        <div class="group-flex-row flex-align-center margin-b-15 item-color">

            <label class="label-color"  for="color-principal">Color principal</label>
            <div class="custom-input-color" id="color-principal" data-value="{{app.color-primario.valor}}" data-name="color-principal"></div>
            <input type="color" id="input-color-principal" name="os_{{app.color-primario.id}}" value="{{app.color-primario.valor}}">

        </div>

        <div class="group-flex-row flex-align-center margin-b-15 item-color">

            <label  class="label-color" for="color-secundario">Color Secundario</label>
            <div class="custom-input-color" id="color-secundario" data-value="{{app.color-secundario.valor}}" data-name="color-secundario"></div>
            <input type="color" id="input-color-secundario" name="os_{{app.color-secundario.id}}" value="{{app.color-secundario.valor}}">

        </div>

        <div class="group-flex-row flex-align-center margin-b-15 item-color">

            <label class="label-color"  for="color-terciario">Color Terciario</label>
            <div class="custom-input-color" id="color-terciario" data-value="{{app.color-terciario.valor}}" data-name="color-terciario"></div>
            <input type="color" id="input-color-terciario" name="os_{{app.color-terciario.id}}" value="{{app.color-terciario.valor}}">

        </div>

    </div>

</div>    
    

<!-- <div class="group-flex-column">
<input type="submit" value="Actualizar" class="btn btn-principal">
</div> -->
    
            
    

       
    
    
