

    <div class="group-flex-column ">
        
        <h3 class="font-bold margin-b-20">Mercado Pago</h3>
        
        <div class="group-flex-column margin-b-15 ">
            
            <label for="">MercadoPago ID</label>
            <input type="text" name="os_{{app.mp-id.id}}" value="{{app.mp-id.valor}}">
            
        </div>
        
        <div class="group-flex-column margin-b-15 ">
            
            <label for="">MercadoPago SECRET</label>
            <input type="text" name="os_{{app.mp-secret.id}}" value="{{app.mp-secret.valor}}">
            
        </div>
        
        <!-- <div class="group-flex-column">
            <input type="submit" value="Actualizar" class="btn btn-principal">
        </div> -->
        
    </div>
    
