<div class="fixed-action-btn">
  <a class="btn-floating btn-large red" href="{{@.url_frontend}}back/{{@.getClassName}}/new">
    <i class="large material-icons"><i class="fas fa-plus"></i></i>
  </a>
</div>