<div class="contenedor-item ">
        <h2 class="titulo">{{nombre}}</h2>
        
        <div class="botonera" data-id="{{id}}">
       
            <div class=" btn ">
                <a href="./hojas_abm?id={{id}}">    
                    <i class="fas fa-edit"></i>    
                </a>                    
            </div>

            <label for="check_disp_{{id}}" onclick="hoja.disponible('{{id}}')">

                <div class="btn " data-id="{{id}}"  >
                    <input id="check_disp_{{id}}" type="checkbox" {{check}} style="display:none;" name="check_disponible" value=" {{checks}}">
                    {{# disponible }}
                    <i class="fas fa-star disponible_activo "></i>                        
                    {{/ disponible}}
                    {{^disponible}}
                    <i class="fas fa-star "></i>   
                    {{/disponible}}
                </div> 
            </label>
            
            <div class=" btn " onclick="hoja.borrar('{{id}}')" >
                <i class="fas fa-times-circle"></i>                        
            </div>
            
        </div>
</div>