    <div class="contenedor-item group-flex-column">

    <div class="group-flex-column group-flex-center imagen-item">
        <img src="{{url_frontend}}{{imagen_principal}}" alt="">

    </div>
    <div class="group-flex group-flex-sb-center contenido-item padding-15">

        
            <div class="btn col-12 comprar group-flex-column group-flex-center"   data-id="{{id}}"  >
                    <form method="POST" action="{{url_frontend}}comprar/{{id}}" >
        
                        <input type="hidden" name="nombre" value="{{nombre}}" >
                        <input type="hidden" name="precio" value="{{precio}}" >
                        
                        <button type="submit"  >                        
                            <i class="fas fa-shopping-cart"></i>
                        </button>
                    </form>                                                    
            </div> 

            <span class="titulo">{{nombre}}</span>
            <p>
                Precio : <span class="color-verde">{{precio}}</span>
            </p>
        
    </div>


</div>
