<li class="collection-item avatar">
        <img src="../'.$pedido['imagen_principal'].'" alt="" class="circle">
        <span class="title"><strong class="'.$pedido['collection_status'].'">'.$pedido['collection_status'].'</strong></span>
        <p>'.$pedido['cliente_nombre'].' <br>
            '.$pedido['email'].'<br>
            '.$pedido['collection_id'].'
        </p>
        
</li>