<label for="">
        Nombre del {{nombre_categoria}}
            <input type="text" name="nombre" placeholder="Ingresa el nombre del cuaderno" required value="{{nombre}}">
</label>

<label for="">
Precio
    <input type="number" name="precio" placeholder="Precio" required value="{{precio}}">
</label>