


<div class="contendor-imagen">

        <label for="imagen_principal" class="imagen_principal_label">
            
                <label for="subir_desktop">
                    <input type="file" id="subir_desktop" accept="image/*" name="imagen_desktop" style="display:none;">
                    <i class="fas fa-folder" ></i>
                </label>
                <i class="fas fa-camera"></i>
                <i class="fas fa-times" id="borrar_imagen" style="display:{{display_borrar}};"></i>
                
                <input id="imagen_principal" type="file" accept="image/*" value="" name="imagen_principal" capture>
            </label>
            <img data-new="0" src="{{imagen_principal_url}}" id="profile-img-tag"  />
            
            <label for="check_disp_{{check_disp}}" >
            <input type="checkbox"  id="check_disp_{{check_disp}}" {{checked}} style="display:none;" name="check_disponible" value="si">
            <div class="contenedor-disponible {{contenedor_disponible}}" style="display:{{display_contenedor_disponible}}"  >
                
                <i class="fas fa-star {{estrella_activa}}" id="disponible" ></i>
            </div>
        </label>

</div>