<h1>Sistema administracion - {{extra.app_name}} </h1>
<ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3"><a href="#test-swipe-1">Clases</a></li>
    <li class="tab col s3"><a class="active" href="#test-swipe-2">Controladores</a></li>
    <li class="tab col s3"><a href="#test-swipe-3">Vistas</a></li>
    <li class="tab col s3"><a href="#test-swipe-4">Settings</a></li>
  </ul>
  <div id="test-swipe-1" class="col s12 blue">


    
      Test 1
  </div>
  <div id="test-swipe-2" class="col s12 red">
      
      Test 2


  </div>
  <div id="test-swipe-3" class="col s12 green">
      
      Test 3


  </div>
  <div id="test-swipe-4" class="col s12 green">
      
      Test 4


  </div>