<title>pagina De template test</title>
<h1 class="titulo  Post" style="display:inline-block;">
Cuadernos disponibles 
    <a href="{{getClassName}}_abm">
        <i class="fas fa-plus group-flex-column group-flex-center" style="background-color:var(--color-secundario); border-radius: 50%;width:25px;height:25px;position:absolute;right:5%;top:0;font-size:12px;text-align: center;"></i>
    </a>
</h1>
<main class="contenido-pagina-#slug#">

    <div class="swiper-container">
        <div class="swiper-wrapper">
        
            {{# post.getAll }} 
                <div class="swiper-slide">            
                    {{> item_image_button_disponible}}
                </div>
            {{/ post.getAll }}

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    
</main>