{{# @.init}}

<h1>Bienvenido al creador de Apps </h1>

<div class="group-flex-column">

    <div class="group-flex-row group-flex-center">
        <h2>Completá esta informacion para comenzar.</h2>
    </div>

    <div class="group-flex-column start-form group-flex-center">

        <form  id="form-start-app">
            <input type="hidden" name="f" value="builder">

            <div class="group-flex-column input-item">
                <label for="app_name">
                    Nombre de la aplicacion
                    <input type="text" name="app_name" id="app_name">
                </label>
            </div>

            <div class="group-flex-column input-item">
                Url Frontend
                <label for="app_url">
                    <input type="text" name="app_url" id="app_url">
                </label>
            </div>
            <div class="group-flex-column input-item">
                Dominio
                <label for="dominio">
                    <input type="text" name="dominio" id="dominio">
                </label>
            </div>
                
            <div class="group flex-column flex-end boton input">
                <input class="submit_boton" type="submit" value="Crear!" >
            </div>
        </form>

    </div>


{{test}}


</div>
<div class="group-flex-column contenedor-respuesta ">
    <span class="respuesta"></span>
</div>

{{/ @.init}}