<div class="contenedor-item ">
                
                    
                
        <figure style="background-image:url('{{imagen_principal}}');">
        </figure>
        <div class="precio-box"><h2 class="titulo">{{nombre}}</h2><p>Precio : <span class="color-verde">{{precio}}</span></p></div>
        <div class="botonera" data-id="{{id}}">
       
            <div class=" btn ">
                <a href="./cuadernos_abm?id={{id}}">    
                    <i class="fas fa-edit"></i>    
                </a>                    
            </div>

            <label for="check_disp_{{id}}" onclick="cuaderno.disponible('{{id}}')">

                <div class="btn "   data-id="{{id}}"  >
                    <input id="check_disp_{{id}}" type="checkbox"  style="display:none;" name="check_disponible" value="0">
                    <i class="fas fa-star {{# extra.checked}} {{disponible}} {{/ extra.checked}} "></i>                        
                </div> 
            </label>
            
            <div class=" btn " onclick="cuaderno.borrar('{{id}}')" >
                <i class="fas fa-times-circle"></i>                        
            </div>
            
        </div>
</div>
