{{% BLOCKS }}

{{# @.init }}
    
        <form id="formulario-{{@.getClassName}}">

            <input type="hidden" name="f" value="{{@.tipo_abm}}">
            <input type="hidden" name="id_tipo" value="{{@.tipo_post_abm}}">
            <input type="hidden" name="id" value="{{@.get_request_id}}">
            {{$ abm_settings}}
            {{/ abm_settings}}
            <div class="group-flex-column group-flex-center contenedor-formulario">
                <div class="contenedor-evento-titulo margin-b-25">
                    
                    <h2 class="formulario-titulo">{{$ abm_titulo}}{{/ abm_titulo}}</h2>
                    <div class="linea-border-2"></div>
                </div>


                {{$ abm_body}}
                {{/ abm_body}}


                <div class="contenedor-boton group-flex-column">
                    
                    <input class="boton-input" type="submit" value="{{@.getTextoBoton}}">

                </div>
            </div>
           
        </form>
        <!-- <div class="send">
            <img id="loading" src="./images/loading.gif" alt="">        
            <input type="submit" value="Enviar" class="btn">
        </div> -->


{{/ @.init }}