{{% BLOCKS }}
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <link rel="apple-touch-icon" sizes="180x180" href="./images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="72x72" href="./images/icons/icon-72x72.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./images/icons/icon-96x96.png">

    <link rel="mask-icon" href="./images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="manifest" type="application/json" href="../manifesto.json">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700|Roboto|Open+Sans:400,600,700" rel="stylesheet">
    
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" 
    href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" 
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" 
    crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" href="{{@.url_frontend}}builder/assets/css/swiper.min.css">
    <link rel="stylesheet" href="{{@.url_frontend}}builder/assets/css/root.css">
    <link rel="stylesheet" href="{{@.url_frontend}}builder/assets/css/index.css">
    <link rel="stylesheet" href="{{@.url_frontend}}builder/assets/css/back.css">
    <title>{{$title}}{{/title}}</title>
    {{$ css_links}}
    {{/ css_links}}



</head>
<body>
<div class="header">
        <i class="fas fa-bars icono sidenav-trigger" data-target="slide-out"></i>
        <div class="titulo">
            <a href="./">                
                {{$ header_titulo}}
                    Aplicacion de prueba
                {{/ header_titulo}}
            </a>
        </div>
</div>


<ul id="slide-out" class="sidenav">
  
    <li>
            <div class="user-view">
                <div class="background">
                    <img src="{{@.url_frontend}}builder/assets/images/default-background.jpg">
                </div>
            </div>
    </li> 
    {{$ app_menu_items}}
    {{/ app_menu_items}}

    <li><a href="{{@.url_frontend}}{{@.get_p}}/contenido"> Contenido</a></li>
    <li><a href="{{@.url_frontend}}{{@.get_p}}/inventario"> Inventario</a></li>
    <li><a href="{{@.url_frontend}}{{@.get_p}}/usuario"> Usuarios</a></li>
    <li><a href="{{@.url_frontend}}{{@.get_p}}/categoria"> Categorias</a></li>
    <li><a href="{{@.url_frontend}}{{@.get_p}}/configuracion"> Configuraciones</a></li>
    <li><div class="divider"></div></li>
    <li><a href="../logout"> Cerrar Sesion</a></li>

</ul>

<div class="container-{{@.get_p}}">

    {{$ body }}
    {{/ body }}
</div>
    
<!-- <script src="https://secure.mlstatic.com/sdk/javascript/v1/mercadopago.js"></script> -->

  <script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  

  <script src="{{@.url_frontend}}builder/assets/js/swiper.min.js"></script>
  <script src="{{@.url_frontend}}builder/assets/js/index.js"></script>
  <script src="{{@.url_frontend}}builder/back/js/index.js"></script>
</body>
</html>