:root {
    --fuente-color-principal    : #0a263b;
    --fuente-color-blanco       : white;
    --color-primario            : #065a9f;
    --color-secundario          :  #ff4848;
    --color-terciario           : #d7d7d7;
    --color-principal            : #09253a;
    --color-cuarto              : #09253a;
    --fuente-family-principal   : 'Montserrat';
    --fuente-family-interior    :  'Open Sans', sans-serif;
    --fuente-size-xsmall        : 10px;
    --fuente-size-small         : 12px;
    --fuente-size-medio         : 14px;
    --fuente-size-grande        : 18px;
    --fuente-size-l             : 20px;
    --fuente-size-xl            : 24px;
    --fuente-size-xxl           : 26px;
    --fuente-size-xxxl          : 38px;
    --header-height             : 4em;
    --max-width-desk: 80%;
    --max-width-full-desk: 65%;
    --max-width-full-hd-desk: 55%;
  }