.sidenav{
    width: 250px;
  }
  
  .user-view{/* background-color:var(--color-primario); */height:150px;/* background-image: url('../back/images/perfil2.jpg'); */background-size: cover;background-repeat: no-repeat;background-position: top;}
  .sidenav .user-view .background img{
      width:100%;
      height: auto;
  }  



.header{
    background-color: black;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    /* height: var(--header-height); */
    padding: 30px 15px;
}
.header-icono{
    color:white;
    font-size: 25px;
}
.header a{
    color:white;
}
.icono-hamb{
    width: 25px;
    margin: 0;
}
.icono-notify{
    width: 21px;
    margin: 0;
    position: relative;
}
.icono-hamb img,.icono-notify img{
    width:100%;
}
.contador-notify{
    background-color: var(--color-secundario);
    color: white;
    border-radius: 50%;
    width: 10px;
    position: absolute;
    height: 10px;
    top: 0;
    right: 0;
    display: none;
}
.listado-evento{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

.contenedor-evento{
    border-bottom: 2px solid white;
    display: flex;
    flex-flow: column;
    height: 400px !important;
}
.contenedor-informacion{
    bottom: 5px !important;
    width: 100% !important;
}