*{
  box-sizing: border-box !important;
  margin :0;
  transition: all .25s cubic-bezier(0.63, 1.23, 0.74, 1.04) !important;
}
img{
width: 100%;
height: auto;
}

body{}

.sidenav{
width: 250px;
}

/* SPLASH SCREEN */

.splash-container{

width: 100%;

height: 100vh;

position: absolute;

left: 0;

/* top: 16.18%; */

display: flex;

flex-flow: column;

justify-content: center;

align-items: center;

background-color: black;
}
.splash-container .imagen{

width: 100%;

position: absolute;

top: 16.18%;

max-width: 500px;

display: block;
}
.splash-container #imagen-bg{
  
max-width: 500px;
  
/* min-width: 250px; */
  
width: 250px;
  
margin: 0 auto;
  
display: block;
}
.effecto{
  position: absolute;
  bottom: 8%;
  width: 90%;
  max-width: 500px;
}
.effecto a {
      margin: 0 auto;
      max-width: 500px;
}
.splash-container .linea-bottom{

position: absolute;

width: 70%;

height: 2px;

background-color: white;

margin: 0 auto;

display: block;

bottom: 16.18%;
}
.effecto > a:before {
content: "";
width: 90%;
height: 3px;
bottom: 16.18%;
z-index: 2323;
background: #f1f1f1;
visibility: hidden;
border-radius: 5px;
transform: scaleX(0);
transition: 1.25s cubic-bezier(0.29, 1.21, 0.88, -0.2);
animation-iteration-count: infinite;
margin: 0 auto;
}
.effecto > a.activo:before,
.effecto > a.activo:before {
visibility: visible;
transform: scaleX(1);
}
.effecto > a.activo.glow:before{

box-shadow: 0 2px 10px 3px #c900ffa6;

background-color: #c900ff;
}
/* FIN SPLASH */
.form-input{

margin-bottom: 20px;
}
.home-text-input{
position: relative;
display: flex;
flex-flow: column;
align-items: flex-start;
justify-content: center;
transition: all .25s ease;
color: rgb(212, 212, 212);
}
.home-text-input img{

width: auto;

max-width: 32px;

height: 24px;

position: absolute;

bottom: 17px;

right: 15px;

z-index: 6;
}
.home-text-input.register img{
display:none;
}
.show-pass{
display:block !important;

}
.input-show-pass{
display: none;
position: absolute;
background-color: #fbf7f7 !important;
color: black !important;
width: 85% !important;
bottom: 0;
}
.boton-submit{

margin-top: 25px;
}
.boton-submit input{

background-color: transparent;

color: white;

text-transform: uppercase;

font-weight: bold;

padding: 15px !important;

border: 2px solid white;

box-shadow: none !important;

border: 2px solid white !important;
}
.register{

display: none;
}
.close-registrar{
display:none;
border-bottom: 1px solid rgba(255, 255, 255, 0.45);
}

.contenedor-login{

padding-top: 10.18%;

/* display: none; */

padding-top: 30px;

transition: all .25s ease;

max-width: 500px;

width: 100%;

z-index: -1;

/* position: absolute; */
}
.form-header{

margin-bottom: 8%;
}
.contenedor-login-redes{

}
.form-imagen{

width: 60px;

margin: 0 auto;
}
.form-imagen img{

}
.contenedor-sin-cuenta{

color: rgb(255, 255, 255,.43);

margin-top: 10px;
transition:all .25s ease;
}
.contenedor-sin-cuenta span:hover{
  cursor:pointer;
  color: var(--color-secundario);
}
.login-redes-texto{

color: rgb(255, 255, 255,.43);

margin: 10px 0;
}
.lista-redes{

width: 100%;
}
.item-redes{

color: white;

width: 46%;

padding: 12px;
}
.item-redes.fb{

box-shadow: 0 0 1px 1px #2B38EC;
}
.item-redes.gg{

box-shadow: 0 0 1px 1px #FF0000;

color: #FF0000;
}
.home-text-input input{

transition: all .3s ease !important;

color: white;
}
.home-text-input input:focus{
z-index: 0 !important;
border: none !important;
box-shadow: 0 2px 0px 0px #7b0380 !important;
padding: 10px;
}
.user-view{/* background-color:var(--color-primario); */height:150px;/* background-image: url('../back/images/perfil2.jpg'); */background-size: cover;background-repeat: no-repeat;background-position: top;}

.app_tipo{
display:flex;
}

.container-posts-home{
max-width:1280px !important;
}

.btn-outline-success{

}
.titulo-mercadopago{
color:white;
text-align:center;
border:1px solid red;
}
.box-informacion{
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
padding: 10px;
}
.box-informacion a {border: 1px dashed #009fe3;border-radius: 10px;/* width: 50px; *//* height: 50px; */border-radius: 50%;/* background-color: #009fe5d4; */padding: 5px;display: none;flex-flow: column;}
.box-informacion img {
width: 50px;
margin: 0 auto;
height: auto;
}
.loading-compra{
display: none;
}
.metodo-pago{
}
.box-informacion p{
margin : 0;
font-size: 15px;
font-weight: bold;
text-transform: uppercase;
color: var(--color-titulo-principal);
/* margin-bottom: 15px; */
}
.status {
font-size: 14px;
  font-family: var(--fuente-primaria);
  font-weight: bold;
  text-transform: uppercase;
}
.failure{

  color: #dd233d;
}
.success{
color: #007800;
}

.prending {
color: var(--color-fuente-primaria);
}




.header{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-primario);
  color: white;
  padding: 20px 25px;
}

.separador{
border-bottom: 1px solid var(--color-linea-gris);
width: 80%;
margin: 20px 0;
}
.header .titulo{
  margin: 0 auto;
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: baseline;
  /* width: 100%; */
}
div[class ^= "titulo back-titulo"] {
text-align:center; 
display: block !important;
}
.header .titulo ul {margin: 0;}
.header .titulo ul li {
font-size: 15px;
}
.header .titulo ul li a{

}
.titulo a{
color: #ffffff;
}
h1.titulo{
width: 100%;
display: block;
font-size: 20px;
position: relative;
margin: 0;
margin-bottom: 15px;
color:var(--color-titulo-principal);
}
.listado-cuadernos{
margin-top:15px;
}
.toast{
/* color:black; */
}

h1.titulo {}
h2.titulo{
  font-size: 16px !important;
  margin: 0 !important;
  text-align:center;
  color:black;
  /* padding-top: 15px; */
  font-family: 'Roboto', sans-serif;
  /* padding-left: 10px; */
}
strong.approved{
color: #007334;
}
@media screen and (min-width:480px){
  [class^="container-"] {
  /* max-width: 75%; */
  margin: 0 auto;
}
}
[class^="container-"] {
padding: 15px;
box-shadow: 0px 0px 5px #cccccc;
z-index: 90;
width: 100%;
}
.container-home{
height: 100vh;
background-color: var(--color-primario);
display: flex;
flex-flow: column;
width: 100%;
position: relative;
justify-content: center;
align-items: center;
}
.container-check{
padding:25px;
}
.container-check h1{
font-size:18px;
margin-bottom: 15px;
}
.container-check form{width: 100%;padding: 15px 0;}
.container-check form label{
width:100%;
}
.container-check form label input{
color:black !important;
border: 1px dashed var(--blue) !important;
padding: 5px !important;
}
.container-check form label input::placeholder{
font-size:14px;
}
.container-check form input{background-color: var(--blue);color: white;}
.container-comprar{
padding-bottom: 30px;
overflow-y: scroll;
padding-top: 0;
}
.container-comprar input{
c-olor:white;
}
.container-comprar input[type="text"],.container-comprar input[type="email"]{
-border-bottom : 1px solid white;
}
.container-comprar label {
-color : white;
}
.container-comprar input::placeholder {
-color:white;
}
.container-comprar h4{
margin-bottom: 25px;
margin-top: 15px;
-color: #ffffff;
}
form#comprar {
margin-bottom: 10px;
}
.btn-comprar{
padding:0;
margin:0;
border-color: var(--color-primario);
color: var(--color-primario);
font-weight: bold;
}
.btn.comprar {
background-color: var(--color-primario);
width: 45px;
border-radius: 50%;
height: 46px;
right: 15px;
top: -35px;
z-index: 9999;
position: absolute;
}
.btn.comprar button {
background-color:transparent;
border : none;
}
.btn.comprar button i {
color: #fffefe;
}
.container-cuadernos-home{
background-color: #fbfbfb;
padding-bottom: 59px;
max-width: 90%;
margin: 0 auto;
}
.container-cuadernos-home .titulo{
margin:0;
margin-bottom:10px;
font-size:20px;
}
.listado-cuadernos-home{
display:flex;
flex-flow: row nowrap;
align-items:stretch;
overflow-x: auto;
justify-content: flex-start;
padding: 10px 4px;
/* border:1px solid red; */
}
.fa-camera,.fa-folder{
font-size:24px;
}
.activo{
display: flex !important;
}
.fa-times {font-size: 14px;color: #f35e5e;display: none;width: 25px;height: 25px;padding: 0px;box-shadow: 0 0 1px 1px #d2d2d2;border-radius: 50%;flex-flow: column;justify-content: center;align-items: center;background-color: white;}
.container-telas{/* border: 1px solid red; */padding-bottom: 86px;}
.listado-telas {
/* border: 1px solid black; */
max-width: 500px;
margin: 0 auto;
}
.visible{
visibility: visible !important;
}
.opaco{
opacity: 1 !important;
}
[class^="item-"]{display: flex;flex-flow: column;justify-content: center;align-items: center;/* border: 1px solid black; *//* box-shadow: 0 0 2px lightgrey; */margin-bottom: 15px;/* padding: 10px  0px; *//* overflow: scroll; */margin-bottom: 10px;}
.contenedor-item{
  width: 100%;
  position: relative;
  z-index: 99;
  /* max-height: 350px; */
}
.contenedor-item figure {
  margin: 0;
  width: 100%;
  height: 280px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.botonera-cuadernos-home a{
color: white !important;
}
.item-cuadernos-home {
min-width: 300px;
width: 100%;
/* max-height: 400px; */
background-color: #ffffff;
border-radius: 4px;
/* padding: 15px; */
margin-right: 25px;
box-sizing: border-box;
box-shadow: 1px 2px 4px 3px #dddddd;
}
.item-cuadernos-home .contenedor-item  {
padding: 0;
}
.item-cuadernos-home .precio-box p{
/* padding:20px; */
}
.btn:hover{
background-color: #520e87;
}
.precio-box{
  display: flex;
  flex-flow: row nowrap;
  /* border: 1px solid red; */
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.precio-box p{
text-align: right;
/* padding: 0px 29px; */
font-weight: bold;
margin: 0;
}
span.color-verde{
color:#248924;
}
.imagen_principal_label{
/* border: 1px solid #9e9e9e; */
/* border-radius: 50%; */
/* width: 100px; */
/* height: 100px; */
position: relative;
display: flex;
flex-flow: row;
align-items: center;
justify-content: space-around;
margin: 0 auto;
margin-bottom: 20px;
padding: 15px 35px 10px 43px;
box-shadow: 0px 1px 2px #c7c7c7;
}
.imagen_principal_label i:first-child{
/* margin-bottom:15px; */
}
.form_telas_abm{
/* border:1px solid red; */
display: flex;
flex-flow: column;
/* align-items: flex-start; */
justify-content: center;
padding: 20px;
padding-top: 0;
}
.contendor-imagen{
  width: 100%;
  height: 100%;
  /* border: 1px solid #000aff; */
  position: relative;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.send{
/* border:1px solid black; */
display: flex;
flex-flow: column;
justify-content: center;
align-items: center;
position: relative;
}
.send input{
background-color: var(--color-primario);
}
.send img{
width:40px;
height:40px;
margin:0 auto;
/* border:1px solid green; */
z-index: 4;
position: absolute;
display: none;
}
input{
width:100% !important;
/* box-shadow: 0 2px 0px 0px #7b0380 !important; */
border-bottom: #241284 !important;
border-bottom: none !important;
border: 1px solid rgba(255,255,255,.43) !important;
padding: 10px !important;
}
.contendor-imagen img{
width: 55%;
display: block;
margin:  0 auto;
/* border: 1px solid red; */
}
.displayFlex {
display: flex !important;
}
.form_hojas_abm input[type="text"]{
margin-bottom: 25px;
}
.disponible_activo{
color: #ffff4d !important;
}
.negative{
background-color: #ff9e9e !important;
}
.contendor-imagen .contenedor-disponible{
/* border: 1px solid red; */
width: 30px;
height: 30px;
display: none;
flex-flow:column;
justify-content:center;
align-items:center;
border-radius:50%;
padding:20px;
position: absolute;
bottom: 0;
right: 0;
border: none;
background-color: var(--color-primario);
box-shadow: 0 0 1px 1px #ebebeb;
}
.contendor-imagen .contenedor-disponible i{
color:#fafafa;
}
.imagen_principal_label input{
display:none;
}
.contenedor-item img{/* width: 100%; */max-width: 350px;max-height: 450px;}
.contenedor-item .botonera {
/* border: 1px solid #ff163f; */
width: 100%;
display: flex;
flex-flow: row;
justify-content: space-between;
align-items: center;
padding: 15px 0;
}
.contenedor-item .botonera label {
width: 33%;
}
.contenedor-item .botonera a{
color:white;
}
.contenedor-item .botonera .btn {
width: 32%;
text-align: center;
background-color: var(--color-secundario);
box-shadow: none;
}
label .btn {
width: 100% !important;
background-color: var(--color-primario);
}
.contenedor-item .botonera .btn i{
margin:0 auto;
}
.contenedor-item .botonera .btn i.active{
color: #fcfc5b;
}
.icono{
  font-size: 30px;
}
.icono:hover{
cursor:pointer;
}
.contenedor-menu{height: calc(100vh - 70px);display: flex;justify-content: center;align-items: flex-start;padding-top: 5%;width:70%;max-width:750px;left: 0;top:70px;background-color:var(--color-sec);color:white;position:absolute;animation-direction: reverse !important;}
.menu{
  width: 100%;
}
.menu ul{
  -border: 1px solid green;
  list-style: none;
  padding: 15px 0;    
  font-family :var(--fuente-primaria);
  -color: white;
}
.menu ul li{
  padding: 5px 25px;
  border-bottom:1px solid var(--color-sec);
}
.menu ul li a {
  text-decoration:none;    
  color:var(--color-fuente-primaria);
}
.menu ul li a:hover{

  cursor:pointer;

}



@keyframes yourAnimation{
  0%{
      left:-100%;
     
      }
  100%{
      left:0;
      }
}

.animacion{
  animation: yourAnimation .25s 1 0s ease-in;
}

.imagen-item{
  overflow: hidden;
  max-height: 270px;
  position: relative;
}
.contenido-item{
  position: relative;
  padding: 30px 0 15px 0;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
background:var(--color-secundario);
}



.menu-tab {
  width: 90px;
  height: 70px;
  position: fixed;
  z-index: 100;
  top: 0px;
  left: 0px;
  cursor: pointer;
  transition: all 0.6s ease-in-out;
  /*end of div*/
}
.menu-tab div {
  width: 33px;
  height: 4px;
  background-color: #2d2d2d;
  display: block;
  margin: 5px 28px;
  transition: all 0.6s ease-in-out;
}
.menu-tab div:nth-child(1) {
  margin-top: 20px;
}

/*end of menu-tab*/
.menu-tab.active {
  left: 345px;
  transition: all 600ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.2);
}
.menu-tab.active #one {
  -webkit-transform: translateY(9px) rotate(-135deg);
          transform: translateY(9px) rotate(-135deg);
  transition: all 0.6s ease-in-out;
  background-color: #e74c3c;
}
.menu-tab.active #two {
  opacity: 0;
  transition: 0.4s ease;
}
.menu-tab.active #three {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg);
  transition: all 0.6s ease-in-out;
  background-color: #e74c3c;
}

.menu-hide {
  width: 345px;
  left: -345px;
  height: 100vh;
  position: fixed;
  z-index: 10;
  top: 0px;
  transition: all 0.6s ease-in-out;
  /*end of nav*/
}

.menu-hide nav {
  /*end of ul*/
}

.menu-hide nav ul {
  /*end of li*/
}

.menu-hide nav ul li {
  height: 70px;
  list-style-type: none;
  text-align: center;
  line-height: 70px;
  transition: all 0.5s ease;
}

.menu-hide nav ul li:hover {
  background-color: #e74c3c;
  transition: all 0.5s ease;
}

.menu-hide nav ul li a {
  padding: 30px 25px;
  text-decoration: none;
  color: #f1f1f1;
  font-weight: 800;
}


/*end of menu-hide*/
.menu-hide.show {
  left: 0px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: all 0.6s ease-in-out;
}
.drag-target {
  width: 20px;
}
@media screen and (min-width:500px){
  .splash-container #imagen-bg{
    width:auto;
  }
}