*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: var(--fuente-family-principal);
    text-decoration: none;
}

.toast-error{
    background-color: var(--color-secundario);
    color:white;
    }
    .toast-success{
    color:white;
    background-color: #11c771;
    }
.swiper-container {
    width: 100%;
    background-color: #e2e2e2;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding-top: 20px;
  }

form{
    width: 100%;
}

.input-item label input{

}


.font-small {
    font-size: var(--fuente-size-small);
}
.font-w-medium{
    font-weight: 500;
}
.font-principal{
    font-family: var(--fuente-family-principal) !important;
}
.font-interior {
    font-family: var(--fuente-family-interior) !important;
}
.texto-rojo {
    color: var(--color-secundario) !important;
}
.translate-full-y{
    transform: translate3d(0, 100%, 0);
}

.overflow-h {
    overflow: hidden;
}


.border-b-dashed{
    border-bottom-style: dashed;
}

/*dimensiones*/
.height-25{
    height: 25vh;
}
.height-50{
    height: 50vh;
}
.height-75{
    height: 75vh;
}
.height-100{
    height: 100vh;
}

.height-p-25 {
    height:25%;
}
.height-p-50 {
    height:50%;
}
.height-p-75 {
    height:75%;
}
.height-p-100 {
    height:100%;
}

.width-25 {
    width:25vw;
}
.width-50 {
    width:50vw;
}
.width-75 {
    width:75vw;
}
.width-100 {
    width:100vw;
}
.width-125-px {
    width: 110px;
}
/*fin dimensiones*/

/*tools*/

.fixed-top{
    position:fixed;
    top:0;
}
.test-box {
    border:1px solid black;
}
.test-box-1{
    border:1px solid green;
}
.test-box-2{
    border:1px solid blueviolet;
}
.test-box-3{
    border:1px solid rgb(0, 163, 101);
}
.display_none{
    display: none !important;
}

.opacity-0{
    opacity: 0;
}

.font-white {
    color: var(--fuente-color-blanco);
}
.font-color-principal {
    color: var(--fuente-color-principal) !important;
}
.font-regular {
    font-weight: 400 !important;
}
.borde-color-principal{
    border:2px solid var(--fuente-color-principal);

}
.border-color-blanco {
    border:2px solid var(--fuente-color-blanco);
}





/*fin tools*/

/*propiedaddes de fuentes*/


.font-bold{
    font-weight: bold !important;
}
.font-upper{
    text-transform: uppercase;
}
.font-italic{
    font-style :italic;
}
.font-right{
    text-align:right;
}
.font-center{
    text-align: center;
}



/*fin propiedades de fuentes*/


/*paddings*/

.padding-5{
    padding:5px;
}
.padding-10{
    padding:10px;
}
.padding-15{
    padding:15px;
}
.padding-20{
    padding:20px;
}
.padding-25{
    padding:25px;
}

.padding-t-5{
    padding-top:5px;
}
.padding-t-10{
    padding-top:10px;
}
.padding-t-15{
    padding-top:15px;
}
.padding-t-20{
    padding-top:20px;
}
.padding-t-25{
    padding-top:25px;
}

.padding-b-5{
    padding-bottom:5px;
}
.padding-b-10{
    padding-bottom:10px;
}
.padding-b-15{
    padding-bottom:15px;
}
.padding-b-20{
    padding-bottom:20px;
}
.padding-b-25{
    padding-bottom:25px;
}

.padding-tb-5{
    padding: 5px 0 ;
}
.padding-tb-10{
    padding: 10px 0 ;
}
.padding-tb-15{
    padding: 15px 0 ;
}
.padding-tb-20{
    padding: 20px 0 ;
}
.padding-tb-25{
    padding: 25px 0 ;
}

.padding-lr-5{
    padding:0 5px;
}
.padding-lr-10{
    padding:0 10px;
}
.padding-lr-15{
    padding:0 15px;
}
.padding-lr-20{
    padding:0 20px;
}
.padding-lr-25{
    padding:0 25px;
}
.padding-lr-35{
    padding:0 35px;
}
.padding-lr-40{
    padding:0 40px;
}
.padding-lr-45{
    padding:0 45px;
}

.padding-l-5{
    padding-left:5px;
}
.padding-l-10{
    padding-left:10px;
}
.padding-l-15{
    padding-left:15px;
}
.padding-l-20{
    padding-left:20px;
}
.padding-l-25{
    padding-left:25px;
}
.padding-l-30{
    padding-left:30px;
}
.padding-l-35{
    padding-left:35px;
}
.padding-l-40{
    padding-left:40px;
}





/*fin paddings*/


/*margins*/
.margin-b-5{
    margin-bottom: 5px;
}
.margin-b-10{
    margin-bottom: 10px;
}
.margin-b-15{
    margin-bottom: 15px;
}
.margin-b-20{
    margin-bottom: 20px;
}
.margin-b-25{
    margin-bottom: 25px;
}
.margin-b-30{
    margin-bottom: 30px;
}
.margin-b-35{
    margin-bottom: 35px;
}
.margin-t-5{
    margin-top: 5px;
}
.margin-t-10{
    margin-top: 10px;
}
.margin-t-15{
    margin-top: 15px;
}
.margin-t-20{
    margin-top: 20px;
}
.margin-t-25{
    margin-top: 25px;
}
.margin-t-30{
    margin-top: 30px;
}
.margin-t-35{
    margin-top: 35px;
}
.margin-l-5{
    margin-left: 5px;
}
.margin-l-10{
    margin-left: 10px;
}
.margin-l-15{
    margin-left: 15px;
}
.margin-l-20{
    margin-left: 20px;
}
.margin-l-25{
    margin-left: 25px;
}
.margin-l-30{
    margin-left: 30px;
}
.margin-l-35{
    margin-left: 35px;
}
.margin-l-40{
    margin-left: 40px;
}
.margin-l-45{
    margin-left: 45px;
}
.margin-r-5{
    margin-right: 5px;
}
.margin-r-10{
    margin-right: 10px;
}
.margin-r-15{
    margin-right: 15px;
}
.margin-r-20{
    margin-right: 20px;
}
.margin-r-25{
    margin-right: 25px;
}
.margin-r-30{
    margin-right: 30px;
}
.margin-r-35{
    margin-right: 35px;
}
.margin-r-40{
    margin-right: 40px;
}
.margin-r-45{
    margin-right: 45px;
}

.margin-nb-100{
    margin-bottom: -100px;
}
.margin-nb-120{
    margin-bottom:-120px;
}
.margin-nb-50{
    margin-bottom:-50px;
}
.margin-nb-25{
    margin-bottom:-25px;
}
.margin-nb-5{
    margin-bottom:-5px;
}
.margin-nb-25-p {
    margin-bottom: -28%;
}


/*fin margins*/

/*posiciones*/
.left-n-100 {
    left: -100% !important;
}
.bottom-0{
    bottom: 0;
}
.bottom-100-p{
    bottom:100%;
}
.left-0 {
    left:0;
}

.absolute{
    position:absolute;
}
.absolute-full{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}
/**/

/*prop alineacion flex*/


.group-flex {
    display:flex;
}
.flex-center{
    justify-content: center;
}
.group-flex-row{
    display:flex;
    flex-flow: row;
}
.flex-row-reverse{
    flex-direction: row-reverse;
}
.group-flex-column{
    display:flex;
    flex-flow:column;
}

.group-flex-center {

justify-content: center;

align-items: center;
}
.flex-align-center{
    align-items: center;
}
.group-flex-center-end{
    justify-content: center;
    align-items: flex-end;
}
.flex-end{
    justify-content: flex-end;
    align-items: flex-end;
}

.group-flex-end-center{
    justify-content: flex-end;
    align-items: center;
}
.group-flex-start{

    justify-content: flex-start;

}
.group-flex-sb-ss {
    justify-content: space-between;
    align-items: self-start;
}
.group-flex-se-center{
    justify-content: space-evenly;
    align-items: center;
}
.group-flex-start-center{
    justify-content: flex-start;
    align-items: center;
}
.group-flex-center-start {
    justify-content: center;
    align-items: flex-start;
}
.group-flex-sb-center{
    justify-content: space-between;
    align-items: center;
}
.group-flex-sb-start{
    justify-content: space-between;
}
.flex-s-between{
    justify-content: space-between;
}


/*fin alineacion flex*/

.width-auto{
    width:auto;
}
.width-100-p {
    width:100%;
}
/*prop ancho en %*/


.col-1{
    width:8.333333%;
}
.col-2{
    width:16.66666%;
}
.col-3{
    width:25%;
}
.col-4{
    width:33.333333%;
}
.col-5{
    width:41.666667%;
}

.col-6{
    width:50%;
}

.col-7{
    width:58.333333%;
}
.col-8 {
    width:66.666666%;
}
.col-9 {
    width:75%;
}
.col-10 {
    width:83.333333%;
}
.col-11 {
    width:91.666666%;
}
.col-12{
    width:100%;
}

/*fin ancho en %*/

/*prop listas*/

.no-style{
    list-style: none;
}

/*fin listas*/